/* Основная палитра */
:root {
  --primary-white-color: #ffffff;
  --alpha-white-color: rgba(255, 255, 255, 0.6);
  --accent: #2196f3;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-bg-color: #e5e5e5;
  --secondary-bg-color: #f5f4fa;
  --black-bg-color: #2f303a;
}

.body {
  background-color: var(--primary-bg-color);
  color: var(-);
}

/* стиль для списков */
.list {
  list-style: none;
}

/* Стиль лого*/
.logo {
  text-decoration: none;
}

.logo.header {
  color: #000000;
}

.logo.footer {
  color: var(--primary-white-color);
}

.logo:hover,
.logo.title {
  color: var(--accent);
}

/* стили для навигации в шапке */
.site-nav .link {
  color: var(--title-text-color);
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent);
}

.site-nav .current {
  color: var(--accent);
}

.site-contacts .link {
  color: var(--primary-text-color);
  text-decoration: none;
}

.site-contacts .link:hover,
.site-contacts .link:focus {
  color: var(--accent);
}

/* Герой */
.hero {
  background-color: var(--black-bg-color);
}

.button {
  color: var(--primary-white-color);
  background-color: var(--accent);
  text-decoration: none;
}

.hero-title {
  color: var(--primary-white-color);
}

/* секции */
.section {
  color: var(--primary-text-color);
}

.section > .title {
  color: var(--title-text-color);
}

.title {
  color: var(--title-text-color);
}

.fetures-title {
  color: var(--title-text-color);
}

/* секция наша команда */
.team {
  background-color: var(--secondary-bg-color);
}

/* футер */
.footer-page {
  background-color: var(--black-bg-color);
}

.address-map {
  color: var(--primary-white-color);
}

.address-link {
  color: var(--alpha-white-color);
}
